body {
    background-color: #dbeafe;
}

h1 {
    text-align: center;
    font-size: 60px;
    font-family: "Allura", cursive;
    color: #316c72;
}.gallery {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 20px;
    width: 100%;
}

.artwork {
    flex: 0 0 100%;
    scroll-snap-align: center;
    text-align: center;
}

.artwork img {
    width: auto;
    max-width: 85%;
    max-height: 400px;
    height: auto;
}
